$font-mincho: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;

$spacer: 1rem;

$main-color: #b2dbbf;
$link-color: #ff1654;
$gray: #666666;
$font-color: #1a1a1a;
$bg-color: #fafafa;
$white: #ffffff;

$dot: 30px;

$sdot: 8px