doctype html
html
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    link(href="css/styles.css", rel="stylesheet")
    block title
      title FROG HOUSE LT
  body
    header#header
      nav
        ul
          li 
            a(href="index.html") TOP
          li 
            a(href="demo1.html") DEMO1
          li 
            a(href="demo2.html") DEMO2
          li 
            a(href="demo3.html") DEMO3
          li 
            a(href="demo4.html") DEMO4
    .flex-container
      .flex-inner
        block content
