extends ./_layout.jade

block title
  title DEMO2 - FROG HOUSE LT

block content
  h1 DEMO2
  p box-shadowを使ってドットを作る方法

  .demo2
    h2 緑の部分だけがdiv
    .canvas1

    h2 ドット絵全体がdiv
    .canvas2
