extends ./_layout.jade

block title
  title FROG HOUSE LT

block content
  h1 FROG HOUSE LT
  p CSSだけでドット絵をかいてみましょう
  p @suige_
  p 2016/12/03
  h2 参考サイト
  p
   a(href="https://css-tricks.com/fun-times-css-pixel-art/" target="_blank") https://css-tricks.com/fun-times-css-pixel-art/
  p
   a(href="http://una.im/sass-pixel-art/" target="_blank") http://una.im/sass-pixel-art/ 